<div class="row">
<div class="col-9" >
    <div class="card" style="width: 18rem;" *ngFor="let models of models">
        <img src="{{models.thumbnail}}" class="card-img-top" alt="{{models.title}}">
        <div class="card-body">
          <h5 class="card-title">{{models.title}}</h5>
          <p class="card-text">{{models.description}}</p>
          <button class="btn btn-info m-1" (click)="aggiungiAlCarrello()"><i class="bi bi-cart-plus"></i></button>
          <button class="btn btn-danger m-1" (click)="aggiungiAiPreferiti()"><i class="bi bi-emoji-heart-eyes"></i></button>
        </div>
      </div> 
</div>  


<app-cart class="col-3"></app-cart>
</div>

