<div class="container my-3">
  <div class="row">
    <div class="col-6 col-md-6 col-xl-4 my-3" *ngFor="let film of films let i=index">
      <div class="card" id="{{film.id}}">
        <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" class="card-img-top" alt="{{film.title}}" />
        <div class="card-body">
          <h5 class="card-title">{{film.title}}</h5>
          <p class="card-text">
          </p>
          <a class="btn btn-danger" (click)="addFav(film.id)"><i class="bi bi-heart-fill"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
