<div>
<div class="dropdown">
  <button class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Prodotti nel carrello: <i class="bi bi-cart4"></i>
  </button>
  <ul class="dropdown-menu w-100">
    <li><a class="dropdown-item" href="#">prodotto prova</a></li>
    <li><a class="dropdown-item" href="#">prodotto prova</a></li>
    <li><a class="dropdown-item" href="#">prodotto prova</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item">Totale: {{totPrice}} €</a></li>
  </ul>
</div>
</div>